.App {
  text-align: center;
}

.column-stack {
  display: flex;
  justify-content: center;
  margin-right: 3em;
}

.column-header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: center;
}

li {
  list-style-type: none;
  justify-content: center;
}

.stockName {
  width: 6em
}

.titleButtons {
  display: flex;
  justify-content: space-between;
}

.D3Graph {
  justify-content: center;
  margin-left: -4em;
}